# RM
RM_PORT=3014
RM_CORS_ORIGIN=http://localhost:5173,https://fluig.jotanunes.com
RM_DB_TRUST_CERT=true
RM_READVIEW_URL=
RM_READVIEW_USER=
RM_READVIEW_PASSWORD=
RM_READVIEW_ACTION=
RM_READVIEW_NAMESPACE=
RM_GETSCHEMA_ACTION=
RM_READRECORD_ACTION=
RM_SAVERECORD_ACTION=
RM_FLUIG_URL=
RM_FLUIG_USER=
RM_FLUIG_PASSWORD=
RM_FLUIG_ALLOW_INSECURE=false

# Entrada de Nota Fiscal
ENF_PORT=3015
ENF_CORS_ORIGIN=http://localhost:5173,https://fluig.jotanunes.com
ENF_DB_SERVER=
ENF_DB_INSTANCE=
ENF_DB_DATABASE=FLUIG
ENF_DB_USER=
ENF_DB_PASSWORD=
ENF_DB_PORT=
ENF_DB_SCHEMA=dbo
ENF_DB_ENCRYPT=false
ENF_DB_TRUST_CERT=true
ENF_TABLE_PREFIX=entrada_nota_fiscal
